/*
Colores de mi sitio Web
primario:#1f0441
secundario:#fc1068
terciario:#fcab10
light:#f9ce07
info:#0ce3e8

*/

.body1{
    background-color: rgb(199, 252, 223);
}
.text-center{
    text-align: center;
}
.bienvenida{
    color: #1f0441;
}
.presentado{
    color: #fc1068;
}
.parrafo{
    color: #fcab10;
}
.boton{
    display: flex;
    justify-content: center;
}
.text-boton{
    background-color: #0ce3e8;
    color: rgb(250, 250, 250);
    font-size: larger;
}


/*Segundo html*/



.body2{

}
.text-primario{

}
.subtitulo{

}
.table-center{
    display: flex;
    justify-content: center;
}
.color{
    background-color: #aefdd6;
}